<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>INI INDEX</h1>
    <p>KEHALAMAN CONTACT</p>
    <a href="/contact">contact</a>
    <a href="/todos-list">todos</a>
</body>
</html>